@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = null;
}
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edumin - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/bootstrap-rtl.min.css" rel="stylesheet">

</head>

<body class="h-100">


    <div class="row">
        <div class="col-md-3">
</div>

        <div class="col-md-6">
            <h4>تعديل كلمة المرور</h4>
            <partial name="_StatusMessage" for="StatusMessage" />
            <form id="change-password-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.OldPassword"> كلمة السر الحالية</label>
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewPassword">كلمة السر الجديدة</label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword">تاكيد كلمة السر</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">تعديل كلمة السر</button>
            </form>
        </div>
        </div>
</body>

</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
