@model IEnumerable<YabousNews.Data.Models.Videos>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}


<section class="content_inner_page">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="primary_right">

                    <ol class="breadcrumb">
                        <li><a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li class="active">ألــبوم الفيديو</li>
                    </ol>
                    <div class="category_content">
                        <div class="row">

                            @foreach (var item in Model)
                            {


                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="mNews_item">
                                        <div class="">

                                            <iframe width="560" height="315" src="@item.Url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                        <div class="cat_item_detail">
                                            <h3>@item.Name</h3>
                                        </div>
                                    </div><!--cat_item-->

                                </div>

                            }
                        </div>

                    </div>








                    </div>
            </div>




        </div>
    </div>
</section>

           


