@model YabousNews.CreateNewsDTO

@{
    ViewData["Title"] = "إضافة خبر جديد";
}
<style>
    modal-backdrop.show {
        opacity: 0 !important;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        z-index: -1040 !important;
        width: 100vw;
        height: 100vh;
        background-color: #000000;
    }
</style>
<div class="p-5" style="background-color:white;">
    <h3>إضافة خبر جديد</h3>
    <hr />
    <form method="post" action="/Admin/News/Create" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">
                        عنوان الخبر
                        <span style="color:#ff0000">*</span>
                    </label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="NewsCategoryId" class="control-label">
                        النوع
                        <span style="color:#ff0000">*</span>

                    </label>
                    <select asp-for="NewsCategoryId" asp-items="ViewBag.NewsCategoryId" class="form-control">
                        <option value="">الكل</option>
                    </select>
                    <span asp-validation-for="NewsCategoryId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Image" class="control-label">
                        الصورة الرئيسية
                        <span style="color:#ff0000">*</span>

                    </label>
                    <img id="imgUpload" src="" width="120" height="60" />
                    <input id="Image" name="Image" type="file" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Details" class="control-label">
                        التفاصيل
                        <span style="color:#ff0000">*</span>

                    </label>
                    <textarea  asp-for="Details" class="form-control summernote note-codable" aria-multiline="true"></textarea>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Author" class="control-label">الناشر</label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="حفظ" class="btn btn-primary" />
        </div>
    </form>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
            $("#imgUpload").hide();
        });

        $("#Image").change(function () {
            $("#imgUpload").show();
            readURL(this);
        });
    </script>

    <script src="js/pages/crud/forms/editors/summernote.js"></script>
    <partial name="_ValidationScriptsPartial" />

}